* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  color: #383838;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: left;
  background-color: #fff;

}

nav h3 {

    color: #383838;
}

.projectContent {
  float: right;
}


li {
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;

}

ul {
  display: flex;

}

nav h3 {

    padding-right:  20px;

}

section img {
  width: 400px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;

}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 2% 0;

}

section:nth-child(even) {

}

.centerNav {
    margin-left: auto;
  margin-right: auto;
      position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 80%;
    background-color: #fff;
  display: flex;
  text-align: center
;}

.home {
  text-align: left;
  padding-bottom: 100px;
}

.tech {
  text-align: left;
}

.project {
  text-align: left;
  display: flex;
}

.section-heading {
  text-align: left
}

.project-desc {
  font-size: 12px;
}

.techStack {
  font-size: 14px;
}

.contact{
  text-align: left;
}

.strong {
  margin-bottom: 5px;
  margin-top: 0px;
}

h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.banner {
  font-size: 30px;
  color: black;
  font-family: 'Ubuntu Mono', monospace;
}

.contactImages {
  width: 40px;
  height: auto;

}

.contact ul {
  padding-left: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.contact li {
  padding-left: 30px;
  padding-right: ;
}

.button2 {
background-color: #555555;
color: white;
    border: 2px black;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    width: 180px;
} 

.button2:hover {
  background-color: #ffff;
  border: 2px solid #555555;
  color: black;
      padding: 13px 32px;
}

.button1 {
background-color: #ffff;
color: black;
    border: 2px solid #555555;
    padding: 13px 32px;
    text-align: center;
    cursor: pointer;
    width: 180px;
    margin-right: 10px;
} 

.button1:hover {
  background-color: #555555;
  
  color: white;
}

.links {
  padding-top: 12px;
}

@media only screen and (max-width: 650px) {

.project {
  text-align: left;
  display: inline;
  padding-top: 50px;
  margin-top: 30px;
}

section img {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%
}

.projectList {
  padding-bottom: 10px;
}

.centerNav {
    margin-left: auto;
  margin-right: auto;
      position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 88%;
    background-color: #fff;
  display: flex;
  text-align: center;
  font-size: 14px;
;}

.links {
  padding-top: 12px;
  padding-bottom: 20px;
  text-align: center;
}

.button1 {
  margin-bottom: 5px;
      margin-right: 0px;
  }

.home {
  padding-bottom: 0;
}

.banner {
  padding-bottom: 120px;
}

.contactImages {
  width: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
    padding-bottom: 15px;
}
ul {
  display: inline-block;
    padding-left: 0;
  padding-right: 0;

}

.contact {
  text-align: center;
}


.contact ul {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.contact li {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 0;
}

.contact a {
  margin-left: auto;
  margin-right: auto;
}

nav h3 {
  padding-left: 0px;
    color: #383838;
}

}
